#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Django stuff:
*.log
local_settings.py
# pyenv
.python-version
# dotenv
.env
# virtualenv
komponentKeeperEnv/
.vscode
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
# django migrations
migrationskomponentKeeperEnv
komponentkeeper/__pycache__/urls.cpython-36.pyc
komponentkeeper/__pycache__/settings.cpython-36.pyc
komponentkeeperapp/migrations/0001_initial.py
komponentkeeperapp/migrations/0002_auto_20200319_0040.py
komponentkeeperapp/migrations/0003_auto_20200319_0056.py
komponentkeeperapp/migrations/0004_auto_20200319_0058.py
