{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/billboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    {% endblock %}


{% block content %}
<div class="billboard-container">
    <div class="billboard">
        <div class="billboard-row">
            <div class="billboard-col">
                <h1 class="main-heading">Komponent Keeper</h1>
                <div class="billboard-description">
                    <p class="heading-description">
                        made for DESIGNERS to store their UI components
                    </p>
                    <p class="heading-description">
                        and for DEVELOPERS to blend their code with those elements
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="auth-controls-row">
    <div class="auth-controls-col">
        
        <form action="{% url 'komponentkeeperapp:register' %}" >
            {% csrf_token %}
            <input class="auth-button" type="hidden" >
            <button class="auth-button" type="submit">Register</button>
        </form>
        
    </div>
</div>




{% endblock content %}