{% load static %}
<!-- TODO: Add conditional to render post or put methods and buttons -->

    
{% if component.id is not None %}
<form action="{% url 'komponentkeeperapp:component' component.id %}" method="post">
{% else %}
<form action="{% url 'komponentkeeperapp:components' %}" method="post">
{% endif %}
<!-- <form method = "post" enctype="multipart/form-data">  -->
    {% csrf_token %} 
    {{ form.as_p}} 

    {% if component.id is not None %}
    <input type="hidden" value="POST">
    <input type="submit" value="Update" />
    {% else %}
    <input type="submit" value="Create" />
    {% endif %}
    <!-- <button type="submit">Upload</button>  -->

</form> 