{% extends 'shared/base.html' %}
{% load static %}
{# fields to display component. name, image, description, creator. first_name, last_name#}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/components.css' %}">
{% endblock %}

{% block content %}
    <h1 class="main-heading">Components</h1>
    <p class="heading-description">
        View your stored Komponents below, or add a new one on the bottom right corner.
    </p>
    <p class="heading-description">
        Here you can view the details of a Komponent, then edit it's values, or delete it.
    </p>

    <a id="add-component-button" class="animated bounceIn" href="{% url 'komponentkeeperapp:upload_component' %}">+</a>

    <div class="component-card-container">
    {% for component in user_components %}
        <div class="component-card animated bounceInUp slower">
            <div class="list-card-row">
                <div class="list-card-col">
                    <h3 class="card-heading">Komponent Name</h3>
                    <p class="component-card-name">{{component.name}}</p>
                    <div class="img-container">
                        <img src="{{component.image.url}}" alt="A component" class="component-img">
                    </div>
                </div>

                <div class="list-card-col">
                    <h4 class="list-created-by">Created By</h4>
                    <p class="list-created-by">{{component.creator.first_name}}</p>
                </div>
            </div>
            
            <!-- TODO Add animations to buttons -->
            <form action="{% url 'komponentkeeperapp:component' component.id %}" method="get">
                <button class="component-details-button" type="submit">View Details</button>
            </form>
            <!-- <a href="{% url 'komponentkeeperapp:component' component.id %}">View Details</a> -->
        </div>
        {% endfor %}
    </div>

    {% endblock content %}
    {% block scripts %}
    <script src="{% static 'js/animations.js' %}"></script>
    {% endblock scripts %}