<h2>Register</h2>

<form action="{% url 'komponentkeeperapp:register' %}" method="POST">
    {% csrf_token %}

    <input class="form-tex-input" type="text" placeholder="username" id="username" name="username">
    <input class="form-tex-input" type="text" placeholder="password" name="password">
    <input class="form-tex-input" type="email" placeholder="email" name="email">
    <input class="form-tex-input" type="text" placeholder="first name" name="first_name">
    <input class="form-tex-input" type="text" placeholder="last name" name="last_name">
  
    <button class="auth-button" type="submit">Register</button>
</form>