{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/forms.css' %}">
{% endblock %}  

    <h1 class="form-heading">Edit Current Snippet</h1>

    <form action="{% url 'komponentkeeperapp:snippet' snippet.id %}" method="post">
        
      {% csrf_token %}
            
      <div class="form-field-container">
          <div class="form-row">
              <fieldset>
                  <div class="label-separation-row">
                      <label class="form-labels" for="snippet-language">Edit The Snippet Language</label>
                  </div>
                  <div class="label-separation-row">
                      <input id="snippet-language" type="text" name="snippet-language" value="{{ snippet.snippet_language }}">
                  </div>
              </fieldset> 
          </div>
      
          <div class="form-row">
              <fieldset>
                <div class="label-separation-row">
                    <label class="form-labels" for="description">Edit Your Description</label>
                </div>
                <div class="label-separation-row">
                    <textarea id="description" rows="5" cols="35" name="description" >{{ snippet.description }}</textarea>
                </div>
              </fieldset>
          </div>

          <div class="form-row">
              <fieldset>
                <div class="label-separation-row">
                    <label class="form-labels" for="snippet-input">Edit Your Existing Snippet</label>
                </div>
                <div class="label-separation-row">
                    <textarea id="snippet-input" rows="30" cols="75" name="snippet-input" > {{ snippet.code_snippet }} </textarea>
                </div>
              </fieldset>
          </div>
    </div>
      <input type="hidden" name="actual_method" value="PUT">
      <input class="form-submit-button" type="submit" value="Update" />
          
    </form>