{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/forms.css' %}">
{% endblock %}  
<h1 class="form-heading">Add a New Snippet</h1>
    {% if s.id is not None %}
    <form action="{% url 'komponentkeeperapp:snippet' s.id%}" method="post">
    {% else %}
    <form action="{% url 'komponentkeeperapp:snippets' component.id %}" method="post">
    {% endif %}
        <div class="form-field-container">
            {% csrf_token %}
            <div class="form-row">
                <fieldset>
                    <div class="label-separation-row">
                        <label class="form-labels" for="snippet-language">Snippet Language</label>
                    </div>
                    <div class="label-separation-row">
                        <input id="snippet-language" type="text" name="snippet-language" value="{{ snippet.snippet_language }}">
                    </div>
                </fieldset> 
            </div>
      
            <div class="form-row">
                <fieldset>
                  <div class="label-separation-row">
                      <label class="form-labels" for="description">Leave a small description</label>
                  </div>
                  <div class="label-separation-row">
                      <textarea id="description" rows="5" cols="35" name="description" >{{ snippet.description }}</textarea>
                  </div>
                </fieldset>
            </div>
              
            <div class="form-row">
                <fieldset>
                  <div class="label-separation-row">
                      <label class="form-labels" for="snippet-input">Paste Your Snippet Here</label>
                  </div>
                  <div class="label-separation-row">
                      <textarea id="snippet-input" rows="30" cols="75" name="snippet-input" > {{ snippet.code_snippet }} </textarea>
                  </div>
                </fieldset>
            </div>
        </div>
        


      
      {% if snippet.id is not None %}
      <input type="hidden" name="actual_method" value="PUT">
      <input class="form-submit-button" type="submit" value="Update" />
      {% else %}
      <input type="hidden" name="actual_method" value="PUT">
      <input class="form-submit-button" type="submit" value="Create" />
      {% endif %}
          
    </form>