#navbar {
    background-color: rgb(255, 156, 156);
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
}

.nav-list-item {
    
}

.nav-link {
    text-decoration: none;
}